textarea{
    height: 200px;
    width: 500px;
    display: block;
    background-color: lightblue;

}

button{
    height: 50px;
    width: 250px;

}
.comentario-enviado{
    background-color: lightblue;
    width: 1000px;
    height: 60px;
    box-shadow: 20px 30px 60px lightblue;
    box-shadow: 3px 3px 1px black;
    margin: 1px;
}

.fecha{
    color: blue;
}
.eliminar{
    width: 10px;
    height: 10px;
}

